.crystal-image {
    width: 200px;
    height: 200px;
  }

  .crystal-image-2 {
    width: 200px;
    height: 200px;
  }
  .crystal-image-3 {
    width: 200px;
    height: 200px;
    
  }
  .crystal-image-4 {
    width: 200px;
    height: 200px;

  }

 